:root {
  --light-cyan: hsl(184, 60%, 12%);
  --medium-cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --light-grey: #ccc;
  --shadow-small: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  --shadow-large: 0 15px 20px rgba(0, 0, 0, 0.438),
    0 8px 8px rgba(0, 0, 0, 0.521);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--dark-cyan);
  color: var(--light-grey);
  font-size: 1.5rem;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  border-bottom: solid 1px var(--light-grey);
}

.btn {
  background-color: var(--medium-cyan);
  color: #fff;
  width: 8rem;
  text-align: center;
  font-size: 2rem;
  padding: 0.2rem;
  border-radius: 0.8rem;
  margin-right: 3rem;
  margin-bottom: 3px;
  box-shadow: var(--shadow-small);
  border: none;
}

.btn-next {
  width: 15rem;
  padding: 0.5rem;
}

.btn-help {
  color: inherit;
  font-size: 1.3rem;
  width: 6rem;
}

.level-container,
.score-container {
  display: flex;
}

.level,
.score {
  margin-right: 1rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: var(--medium-cyan);
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 5.5rem;
  padding-right: 0.5rem;
  box-shadow: var(--shadow-large);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  /*background-color: orangered;*/
  position: relative;
  height: 6rem;
  margin-right: 5px;

  padding: 5px;
  margin-bottom: 5px;
  width: 12.5rem;
}

.front-icon,
.back-icon {
  background-color: var(--dark-cyan);
  margin-right: 3rem;
  border-radius: 1.5rem;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0.6rem 0;
  height: 5rem;
  width: 12rem;
  box-shadow: var(--shadow-small);
}

.game-icon {
  fill: var(--light-grey);
  width: 3.5rem;
  height: 3.5rem;
}

.icon-covering {
  display: none;
  opacity: 0;
}

.icon-open {
  display: block;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 2rem 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
  color: #444;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal,
.close-instruction {
  position: absolute;
  top: 0.8rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.instruction-heading {
  margin: 0 auto;
  text-align: center;
}

h3 {
  margin-top: 3rem;
  color: #444;
}

p {
  font-size: 1.8rem;
}

.hidden {
  display: none;
}

.next-game {
  border-top: solid 1px #bbb;
  padding: 0.5rem;
  margin-top: 2rem;
}

.progress-board {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.level-board {
  display: flex;
  flex-direction: column;
}

.score-board {
  display: flex;
  flex-direction: column;
}

.instruction {
  width: 20rem;
  height: 20rem;
  background-color: var(--light-grey);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  border-radius: 1rem;
  border-style: outset;
  z-index: 50;
}

.instruction-para {
  margin-top: 1.3rem;
}
.para {
  color: #444;
  font-size: 1.5rem;
  line-height: 1.7;
}
